*{margin:0;padding:0;list-style:none;font-family:"微软雅黑";outline:0;font-size:12px;}
img{border:0;}
a{text-decoration:none;color:#666;font-family:"宋体";}

/*header start*/
#head{width:100%;height:200px;}
.h-header-top{border-bottom:1px solid #ddd;}
.h-header-top-con,.h-header-top-right a{color:#999;font-family:"宋体";}
.h-header-top-right a:hover{color:#980000;}
.h-header-top-con{width:1200px;height:42px;margin:0 auto;font-size:12px;line-height:40px;}
.h-header-top-left{float:left;font-family:"宋体";}
.h-header-top-right{float:right;font-family:"宋体";}
.h-header-top-right a.reg,span.tel{color:#980000;}
.h-header-top-right span.tel{font-weight:bold;font-size:16px;}

.h-header-mid{margin:0 auto;width:1200px;height:110px;}
.h-header-mid .h-header-mid-l{float:left;padding-top:20px;}
.h-header-mid .h-header-mid-r{width:450px;height:40px;float:right;margin-top:30px;}
.h-header-mid .h-header-mid-r .make{height:30px;width:355px;border:1px solid #ddd;line-height:30px;padding:5px 0;color:#999;font-family:"宋体";font-size:12px;
                                                               border-radius:20px;text-indent:20px;float:left;}
.h-header-mid .h-header-mid-r .make span{display:inline-block;width:30px;height:30px;background:#980000;border-radius:5px;color:#fff;text-align:center;
                                                                   text-indent:0;margin:0 3px;font-size:16px;}
.h-header-mid .h-header-mid-r .share{float:right;}
.h-header-mid .h-header-mid-r .share a{display:inline-block;width:41px;height:41px;background:url("../images/web.png") no-repeat -71px -59px;position:relative;}
.h-header-mid .h-header-mid-r .share a:nth-child(1){margin-right:5px;}
.h-header-mid .h-header-mid-r .share a:nth-child(1):hover{background-position:-70px -8px;}
.h-header-mid .h-header-mid-r .share a:nth-child(2){background-position:-8px -59px;}
.h-header-mid .h-header-mid-r .share a:nth-child(2):hover{background-position:-7px -9px;}
.h-header-mid .h-header-mid-r .share a .codes{display:none;width:124px;height:134px;background:url("../images/h3_03.png") no-repeat bottom center;
                                                                       position:absolute;top:25px;left:-40px;z-index:2;}
.h-header-mid .h-header-mid-r .share a .codes img{display:block;margin:37px auto 0;}
.h-header-mid .h-header-mid-r .share a:hover .codes{display:block;}

.h-header-bottom{background:#980000;width:100%;}
.h-header-bot-main{width:1200px;height:47px;margin:0 auto;}
/*区域分部 开始*/
.h-header-bot-main .regional{width:280px;background:#ff8400;height:47px;float:left;line-height:47px;color:#fff;text-indent:20px;position:relative;cursor:pointer;}
.h-header-bot-main .regional img{vertical-align:middle;margin-right:5px;}
.h-header-bot-main .regional .regional-down-btn{display:inline-block;width:10px;height:8px;background:url(../images/n1_03.png) no-repeat center;position:absolute;
                                                                            right:30px;top:22px;}
.regional-down-btn{-moz-transition:-moz-transform 0.5s; -webkit-transition: -webkit-transform 0.5s; -o-transition: -o-transform 0.5s;}
.h-header-bot-main .regional:hover .regional-down-btn{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg); -o-transform:rotate(180deg);}

.h-regional-list{width:280px;height:423px;background:#fff;display:none;position:absolute;z-index:3;top:47px;left:0;}
.regional-list-img{position:absolute;bottom:-10px;left:0;}
.h-regional-list li{height:52px;position:relative;color:#999;font-size:12px;border:1px solid #eee;border-top:0;}
.h-regional-list li:first-of-type{border-top:1px solid #eee;}
.h-regional-list li:last-child{border-bottom:0;}
.h-regional-list li:hover{border-right:0;}
.h-regional-list li p{background:url("../images/n2_03.png") no-repeat 243px 22px #fff;height:52px;}
.h-regional-list li:hover p{color:#980000;position:relative;z-index:3;background:url("../images/n3.png") no-repeat 243px 22px #fff;}
.h-regional-list li .drop-down{width:370px;max-height:417px;background:#fff;position:absolute;left:278px;top:-1px;z-index:2;border:1px solid #eee;padding:0 10px;overflow:hidden;display:none;}
.h-regional-list li:hover .drop-down{display:block;z-index:2;}
.h-regional-list li .drop-down .drop-down-menu .dress{color:#000;font-weight:bold;float:left;width:70px;line-height:20px;text-align:right;text-indent:0;}
.h-regional-list li .drop-down dl{float:right;width:290px;}
.h-regional-list li .drop-down dl dd{float:left;line-height:20px;text-indent:0;padding-right:10px;}
.h-regional-list li .drop-down dl dd a{color:#999;font-family:"宋体";}
.h-regional-list li .drop-down dl dd a:hover{color:#666;}
.h-regional-list li .drop-down .menu{border-bottom:1px solid #eee;padding:10px 0; }
.h-regional-list li .drop-down .menu:last-child{border-bottom:0;}

/*区域分部 结束*/

/*导航 开始*/
.h-nav{float:right;width:920px;}
.h-nav .h-nav-list li{float:left;line-height:47px;width:100px;text-align:center;}
.h-nav .h-nav-list li a{color:#fff;font-size:14px;display:block;font-family:"微软雅黑";}
.h-nav .h-nav-list li a:hover{background:#7a0101;}
/*导航 结束*/
/*header end*/

/*part1 start*/
#part1{width:100%;height:400px;background:#eee;}
.h-banner{width:1200px;height:400px;margin:0 auto;}
.h-banner-left{width:280px;height:435px;float:left;background:url(../images/yy_03.png) no-repeat bottom center #fff;}
.h-banner-left-list li{width:100%;height:84px;border-bottom:1px solid #ededed;}
.h-banner-left-list li a{display:block;height:85px;}

/*轮播图开始*/
.h-banner-right{width:920px;height:400px;float:right;}
.h-slideBox1{width:920px;height:400px;position:relative;}
.h-slideBox1 .hd{ height:15px; overflow:hidden; position:absolute; left:45%; bottom:15px; z-index:1; }
.h-slideBox1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.h-slideBox1 .hd ul li{ float:left; margin-right:5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer;border-radius:15px; }
.h-slideBox1 .hd ul li.on{ background:#ffa800; color:#fff; }
.h-slideBox1 .bd{ position:relative; height:100%; z-index:0;   }
.h-slideBox1 .bd li{ zoom:1; vertical-align:middle; }
.h-slideBox1 .bd img{display:block;}

/* 下面是前/后按钮代码，如果不需要删除即可 */
.h-slideBox1 .prev,
.h-slideBox1 .next{ position:absolute;right:75px;bottom:-20px; margin-top:-25px; display:block; width:50px; height:50px; background:url(../images/b1_03.jpg) no-repeat;}
.h-slideBox1 .next{ left:auto;right:25px;background-position:-50px 0; }
.h-slideBox1 .prev:hover,
.h-slideBox1 .next:hover{ background:url(../images/b2_03.jpg) no-repeat; }
.h-slideBox1 .next:hover{background-position:-50px 0;}
.h-slideBox1 .prevStop{ display:none;  }
.h-slideBox1 .nextStop{ display:none;  }
/*轮播图结束*/
/*part1 end*/

/*part2 start*/
/*认证工长*/
#part2{width:1200px;margin:80px auto 110px;}
.Cer .h-title{height:30px;margin-bottom:40px;}
.Cer .h-title .h-rz{font-size:24px;color:rgb(150,0,1);float:left;margin-right:15px;}
.Cer .h-title .h-title-f{float:left;padding-top:10px;color:#c3c3c3;font-size:12px;}
.Cer .h-title .h-title-f span{color:#666;font-size:14px;}
.Cer .h-title .h-title-f a{color:#c3c3c3;text-decoration:underline;}
.h-table-con{margin-top:40px;}
.h-table-con thead tr{height:60px;background:#eeeeee;color:#666;border:0;}
.h-table-con thead tr th{font-weight:100;font-size:14px;min-width:100px;text-align:center;position:relative;}
.h-Search{height:40px;width:175px;margin:0 auto;background:#fbfcf7;border-radius:20px;}
.h-Search input.se{width:110px;height:35px;border:0;color:#c4c3c3;text-indent:10px;float:left;margin-left:15px;background:#fbfcf7;font-size:12px;font-family:"宋体";}
.h-Search input.sub{width:35px;height:35px;background:url(../images/g_03.png) no-repeat center;float:left;border:0;cursor:pointer;}
.h-table-title-down{display:block;width:8px;height:14px;position:absolute;top:24px;right:10px;}
.h-table-title-down a{display:block;width:8px;height:7px;background:url("../images/g_06.png") no-repeat top center;}
.h-table-title-down a:hover{background:url(../images/g_08.png) no-repeat top center;}
.h-table-title-down a.h-table-title-down-a2{background-position:0 -7px;}

.h-table-con tbody tr{height:70px;}
.h-table-con tbody tr td{min-width:100px;text-align:center;border-bottom:1px solid #ddd;color:#999;font-size:12px;}
.h-table-con tbody tr td a{text-decoration:underline;color:#ff8400;}
.h-table-con tbody tr td:nth-child(9){position:relative;}
.h-table-con tbody tr td:nth-child(9):hover a{color:#980000;}

/*详细信息卡片*/
.h-Card{border:2px solid #980000;position:absolute;top:65px;right:0;background:#fff;z-index:1;padding:40px;display:none;}
.h-table-con tbody tr td:nth-child(9):hover .h-Card{display:block;}
.h-Card .top{width:17px;height:9px;background:url(../images/top_03.png) no-repeat center;display:block;position:absolute;top:-9px;right:97px;}
.h-Card .mx{position:absolute;top:-2px;left:-2px;}
.h-card-top{height:150px;width:475px;}
.h-card-top .h-card-left{width:145px;height:150px;float:left;border-right:2px solid #ddd;}
.h-card-top .h-card-left .Avatar{width:109px;border:1px solid #ddd;height:97px;}
.h-card-top .h-card-left .Avatar img{display:block;margin:0 auto;}
.h-card-top .h-card-left a{display:block;width:110px;height:36px;margin-right:40px;margin-top:15px;}

.h-card-top .h-card-right{width:295px;height:150px;float:right;text-align:left;}
.h-card-top .h-card-right .score{height:50px;border-bottom:1px solid #ddd;}
.h-card-top .h-card-right .score span{display:block;float:left;height:30px;}
.h-card-top .h-card-right .score .name{font-size:22px;color:#4d4d4d;margin-right:15px;}
.h-card-top .h-card-right .score .star{width:82px;line-height:30px;}
.h-card-top .h-card-right .score .scores{line-height:30px;float:right;}
.h-card-top .h-card-right .score .scores font{font-size:30px;color:#f36f20;font-family:"Times New Roman"}

.h-card-top .h-card-right .security{border-bottom:1px solid #ddd;padding:5px 0;color:#980000;}
.h-card-top .h-card-right .security span img{margin-right:5px;f}
.h-card-top .h-card-right .security span.jl{margin-right:30px;}
.h-card-top .h-card-right .security span.bz{float:right;}

.h-card-top .h-card-right .total{padding-top:10px;}
.h-card-top .h-card-right .total p{margin:0;line-height:20px;}
.h-card-top .h-card-right .total p .total-span{float:right;}
.h-card-top .h-card-right .total p font{color:#980000;}

.h-card-bottom{border-top:1px solid #ddd;border-bottom:1px solid #ddd;line-height:30px;margin-top:30px;text-align:left;}
.h-card-bottom .h-card-span2{margin:0 35px;}

.h-table a.but{display:block;margin:0 auto;width:280px;height:60px;margin-top:75px;}
.h-table a.but .button{width:280px;height:60px;margin:0 auto;background:#ff8400;border:0;border-radius:5px;color:#fff;cursor:pointer;}
/*认证工长*/
/*part2 end*/

/*新闻动态 start*/
#part3{background:#eeeeee;width:100%;height:520px;padding:100px 0;}
.more{float:right;color:#999;}
.more:hover{text-decoration:underline;}
.h-news{width:1200px;height:498px;margin:0 auto;}
.h-news-Tag,.h-knowledge-Tag{color:#999;font-size:12px;margin-bottom:50px;font-family:"宋体";}
.h-news-Tag .new,.h-knowledge-Tag .know,.h-about-Tag .about{margin-right:10px;}

.h-news-left{width:500px;height:420px;float:left;background:#fff;}
.h-news-left .news-des{font-size:12px;color:#999;line-height:25px;margin-top:10px;padding:0 20px;}

.h-news-right{width:655px;height:420px;float:right;}
.h-news-right .h-news-list li{margin-bottom:30px;background:#fff;padding:15px;}
.h-news-right .h-news-list h3{padding-bottom:15px;}
.h-news-right .h-news-list h3 a{color:#333;font-size:16px;font-weight:100;font-family:"微软雅黑";}
.h-news-right .h-news-list h3 a:hover,.h-knowledge .h-knowledge-list h3 a:hover{text-decoration:underline;}
.h-news-right .h-news-list p{font-size:12px;color:#999;font-family:"宋体";line-height:25px;}
/*新闻动态 end*/

/*装修知识 start*/
#part4{width:100%;height:375px;background:#fff;padding:100px 0 200px;}
.h-knowledge{width:1200px;height:375px;margin:0 auto;}
.h-knowledge .h-knowledge-list li{width:350px;height:130px;padding:15px; float:left;border:1px solid #ddd;margin-bottom:20px;}
.h-knowledge .h-knowledge-list li:nth-child(3n-1){margin:0 25px;}
.h-knowledge .h-knowledge-list h3{border-bottom:1px dashed #ddd;padding-bottom:15px;}
.h-knowledge .h-knowledge-list h3 a{font-size:14px;color:#666;font-weight:100;font-family:"微软雅黑";}
.h-knowledge .knowledge-des{font-size:12px;color:#ccc;font-family:"宋体";line-height:25px;margin-top:15px;}
/*装修知识 end*/

/*关于工长汇 start*/
#part5{width:100%;height:300px;background:#eee;padding:50px 0;}
.h-about{width:1200px;height:300px;margin:0 auto;}
.h-about-Tag,.h-about-Intro .intro-left p,.h-about-Intro .intro-left .intro-more{font-family:"宋体";font-size:12px;}
.h-about-Tag,.h-about-Intro .intro-left,.h-about-Intro .intro-left .intro-more,.h-about-Intro .intro-right .sweep{color:#999}
.h-about-Tag{margin-bottom:30px;}
.h-about .h-about-Intro .intro-left{float:left;width:770px;}
.h-about .h-about-Intro .intro-left p{line-height:25px;margin-bottom:20px;}
.h-about .h-about-Intro .intro-left .intro-more:hover{text-decoration:underline;}
.h-about .h-about-Intro .intro-right{float:right;width:124px;}
.h-about .h-about-Intro .intro-right .sweep{font-size:12px;}

.h-about .h-about-links{height:40px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:12px;color:#999;line-height:40px;margin-top:50px;}
.h-about .h-about-links a{color:#999;margin:0 5px;}
/*关于工长汇 end*/

/*footer start*/
#footer{width:100%;height:100px;background:#333;}
.h-copy{width:1200px;height:100px;margin:0 auto;color:#999;font-size:12px;line-height:100px;}
.copy-left{float:left;}
.copy-right{float:right;}
.copy-right a{color:#999;}
/*footer end*/